<div class="assignment-box-button">
    
   <!--
    <div *ngFor="let item of modelParameters.shift_type_parameters"
     class="flex flex-none w-12 h-6 {{getColor(item.shift_type)}} rounded-lg justify-center items-center cursor-default"
      >  
     <div class="text-xs font-bold text-white"> {{item.shift_type}}</div>

   --> 
     <div class="flex flex-none w-12 h-6 {{getColor(assignment.shift_type)}} rounded-lg justify-center items-center cursor-default">
        <div class="text-xs font-bold text-white"> {{assignment.shift_type}}</div>
    </div>
    
</div> 

