<form class="flex flex-col"> 
    <p class="font-semibold text-sm cursor-default"> Model parameters </p>
    <p class="mt-4 font-semibold text-xs text-gray-500 cursor-default"> Minimum balance score </p>
    <app-input-field [value]="modelParameters.min_balance" (onChange)="balanceChanged($event)" [step]="1"></app-input-field>
    <p class="mt-4 font-semibold text-xs text-gray-500 cursor-default"> JAEV minimum balance </p>
    <app-input-field [value]="modelParameters.min_balance_jaev" (onChange)="balanceJaevChanged($event)" [step]="1"></app-input-field>
    

    <p class="mt-4 font-semibold text-xs text-gray-500 cursor-default"> Workload + Max Buffer </p>
    <div class="flex flex-col space-y-2">


        <div *ngFor="let item of modelParameters.shift_type_parameters">  
                <div class="flex flex-row space-x-1 items-center">
                    
                    <app-assignment-box [assignment] = "{shift_type: item.shift_type, part_of_min_balance:false, day_nb:0}"></app-assignment-box>
                    <app-input-field [value]="item.shift_workload" (onChange)="wrapSubmit($event, item.shift_type)" [step]="1"></app-input-field>
                    <app-input-field [value]="item.max_buffer" (onChange)="getValueBufferChanged($event, item.shift_type)" [step]="1"></app-input-field>

                </div>
                
        </div>

    </div>

</form>
